<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anydone.desk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name="com.anydone.desk.AnyDoneServiceProviderApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.anydone.desk.assignedtickets.AssignedTicketsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.anydone.desk.resultmessages.ResultMessagesActivity" />
        <activity
            android:name="com.anydone.desk.searchconversation.SearchConversation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.reply.ReplyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.dashboard.DashboardFragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.forwardMessage.ForwardMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.creategroup.CreateGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.editInbox.EditInboxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.anydone.desk.customertickets.CustomerTicketActivity" />
        <activity
            android:name="com.anydone.desk.addparticipant.AddParticipantActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.inboxdetails.InboxDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="OPEN_INBOX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anydone.desk.ownedtickets.OwnedTicketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.opentickets.OpenTicketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.alltickets.AllTicketsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.anydone.desk.invoicedetail.InvoiceDetailActivity" />
        <activity
            android:name="com.anydone.desk.invoice.InvoiceActivity"
            android:theme="@style/FormTheme" />
        <activity android:name="com.anydone.desk.plans.PaymentPlans" />
        <activity
            android:name="com.anydone.desk.suggestedTicketPreview.SuggestedTicketPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.ticketsuggestions.TicketSuggestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.linkedticketdetail.LinkedTicketDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.subscribed.SubscribedTicketsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.contributed.ContributedTicketsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.editticket.EditTicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.addpaymentcard.AddCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.paymentmethod.PaymentMethodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.billing.BillingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.OpenSourceLibraryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.ticketdetails.TicketDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.addcontributor.AddContributorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.inviteuserstocall.InviteUsersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.threaddetails.ThreadDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.tickets.unassignedtickets.UnassignedTicketsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.addticket.AddTicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.linkshare.LinkShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.tickets.unsubscribedtickets.UnSubscribedTicketsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.weblink.WebLinkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.picklocation.PickLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.aboutus.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.setting.timezone.SelectTimezoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.setting.timezone.TimezoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.setting.location.AddLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.setting.location.showLocation.ShowLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.setting.currency.SelectCurrencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.setting.currency.CurrencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.setting.video.VideoSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.setting.language.LanguagesActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anydone.desk.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anydone.desk.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.profile.ProfileActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.verification.VerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.landing.LandingActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.editprofile.EditProfileActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.changepassword.ChangePasswordActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.setting.SettingsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.anydone.desk.forgotpassword.resetpassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.forgotpassword.verifyCode.VerifyCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anydone.desk.servicerequestdetail.servicerequestdetailactivity.ServiceRequestDetailActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.anydone.desk.videocallreceive.VideoCallHandleActivity" />
        <!--
 <activity
             android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
             android:theme="@style/Base.Theme.AppCompat" />
        -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.treeleaf.anydone.serviceprovider.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name="com.anydone.desk.notification.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.anydone.desk.notification.ForegroundNotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.anydone.desk.notification.NotificationCancelListener" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_small" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>