<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.treeleaf.anydone.serviceprovider">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />

    <application
        android:name=".AnyDoneServiceProviderApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".linkedticketdetail.LinkedTicketDetailActivity"></activity>
        <activity android:name=".subscribed.SubscribedTicketsActivity" />
        <activity
            android:name=".contributed.ContributedTicketsActivity"
            android:theme="@style/FormTheme" />
        <activity
            android:name=".editticket.EditTicketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addpaymentcard.AddCardActivity"
            android:theme="@style/FormTheme" />
        <activity android:name=".paymentmethod.PaymentMethodActivity" />
        <activity android:name=".billing.BillingActivity" />
        <activity android:name=".OpenSourceLibraryActivity" />
        <activity
            android:name=".ticketdetails.TicketDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addcontributor.AddContributorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".threaddetails.ThreadDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tickets.unassignedtickets.UnassignedTicketsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addticket.AddTicketActivity"
            android:theme="@style/FormTheme" />
        <activity
            android:name=".linkshare.LinkShareActivity"
            android:theme="@style/FormTheme" />
        <activity
            android:name=".tickets.unsubscribedtickets.UnSubscribedTicketsActivity"
            android:theme="@style/FormTheme" />
        <activity
            android:name=".weblink.WebLinkActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".picklocation.PickLocationActivity" />
        <activity android:name=".aboutus.AboutUsActivity" />
        <activity android:name=".setting.timezone.SelectTimezoneActivity" />
        <activity android:name=".setting.timezone.TimezoneActivity" />
        <activity
            android:name=".setting.location.AddLocationActivity"
            android:theme="@style/FormTheme" />
        <activity android:name=".setting.location.showLocation.ShowLocationActivity" />
        <activity android:name=".setting.currency.SelectCurrencyActivity" />
        <activity android:name=".setting.currency.CurrencyActivity" />
        <activity android:name=".setting.video.VideoSettingActivity" />
        <activity
            android:name=".setting.language.LanguagesActivity"
            android:configChanges="locale" />
        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.ProfileActivity"
            android:configChanges="locale"
            android:theme="@style/FormTheme" />
        <activity
            android:name=".verification.VerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".landing.LandingActivity"
            android:configChanges="locale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forgotpassword.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".editprofile.EditProfileActivity"
            android:configChanges="locale"
            android:theme="@style/FormTheme" />
        <activity
            android:name=".changepassword.ChangePasswordActivity"
            android:configChanges="locale"
            android:theme="@style/FormTheme" />
        <activity
            android:name=".setting.SettingsActivity"
            android:configChanges="locale"
            android:theme="@style/FormTheme" />
        <activity
            android:name=".forgotpassword.resetpassword.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forgotpassword.verifyCode.VerifyCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".servicerequestdetail.servicerequestdetailactivity.ServiceRequestDetailActivity"
            android:configChanges="locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <!--
 <activity
             android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
             android:theme="@style/Base.Theme.AppCompat" />
        -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.treeleaf.anydone.serviceprovider.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>